<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>

        <testsuite name="Integration Tests">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
</phpunit>
